{% extends "base.html" %}

{% block content %}
            <p><span class="deco">1.</span> Enter message</p>
            <form action="." method="post">
                {% csrf_token %}
                    {{ msgform }}
                <p><span class="deco">2.</span> Filter</p>
                <button type="button">Time</button>
                <button type="button">Views</button>
                <div class="clear"></div>
                <p class="config">Reveal my message after {{ viewform.RequiredViews }} views</p>
                <p class="config">Delete my message after {{ viewform.ClosingViews }} views</p>
                <button type="submit" id="boom">Ignite</button>
                {{ viewform.errors }}
            </form>
{% endblock %}
{% block context %}
            <p>{{hashCode}}</p>
{% endblock %}

