<!DOCTYPE html>
<html lang="en">
<head>
    <title>soup</title>
	<meta charset="utf-8"/>
	<link href="http://fonts.googleapis.com/css?family=Lobster|Open+Sans&v2" rel="stylesheet" type="text/css">
	<link href="../static/css/style.css" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <div id="wrapper">
        <h2>msgfuse.com</h2>
        <hr>
        <div id="panel">
            <p><span class="deco">1.</span> Enter a message</p>
            <input id="msg" type="text">
            <p><span class="deco">2.</span> Select a condition</p>
            <button type="button">Time</button>
            <button type="button">Views</button>
            <div class="clear"></div>
        </div>
        <hr class="bottom">
    </div>
</body>
</html>
